// Allow any user to run pkgdrop-install without password
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "/usr/bin/pkgdrop-install") {
        return polkit.Result.YES;
    }
});