[Desktop Entry]
Name=Install Package
Comment=Install any supported package format
Exec=pkgdrop %f
Icon=application-x-executable
Terminal=true
StartupNotify=true
Type=Application
MimeType=application/x-tar;application/x-xz;application/x-debian-package;application/x-appimage;application/octet-stream;
Categories=System;Utilities;
